# CSC 365 Lab 8

Author: Andrew Cheung  
Email: acheun29@calpoly.edu

NOTE: The code requires a file named "account.info" with the username on the first line and password on the second line.

In [22]:
import mysql.connector
from mysql.connector import Error
import pandas as pd


def execute_sql(cursor):
    cursor.execute("USE LAB8;")
#     cursor.execute("show tables;")
    cursor.execute("SELECT City, Countries.Country "
                   "FROM Cities, Countries "
                   "WHERE Cities.Country = Countries.ISO3 "
                       "AND isCapital = 1;")
    
    records = cursor.fetchall()
#     print("------------------------------------------------------------------")
#     for r in records:
#         print(r)
#     print("------------------------------------------------------------------")
    df = pd.DataFrame(records, columns=["City", "Country"])
    print(df)


def main():
    pwdFilename = "account.info"
    try:
        pwdFile = open(pwdFilename, "r")
        userName = pwdFile.readline().strip()
        dbName = userName
        passString = pwdFile.readline().strip()
    except FileNotFoundError as e:
        print(e)
        return 1

    hostName = "mysql.labthreesixfive.com"
    portName = "3306"

    connector = None
    cursor = None
    try:
        connector = mysql.connector.connect(host=hostName, port=portName,
                                            database=dbName, user=userName,
                                            password=passString)
        cursor = connector.cursor()
        execute_sql(cursor)

    except Error as e:
        print("connection error:", e)

    finally:
        if connector is not None and connector.is_connected():
            if cursor is not None:
                cursor.close()
            connector.close()
            print("done")


if __name__ == "__main__":
    main()

           City               Country
0       Abidjan         Cote d'Ivoire
1     Abu Dhabi  United Arab Emirates
2         Abuja               Nigeria
3         Accra                 Ghana
4   Addis Ababa              Ethiopia
..          ...                   ...
83        Tunis               Tunisia
84   Ulan Bator              Mongolia
85    Vientiane                  Laos
86      Yaounde              Cameroon
87      Yerevan               Armenia

[88 rows x 2 columns]
done